*{
    padding: 0;
    margin: 0;

}

.row{
    background-color: #303030;
    margin: 0 -1px;
    padding: 0 12px;
}

body{
    margin: auto;
    background-color: #3d3d3d;
}

.container{
    max-width: 1650px;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

li{
    list-style: none;
}

/* --- Header --- */

.wrap-header-top{
    height: 100%;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 999;
    font-weight: 500;
}

.header-top{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-top-right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

}

.header-top-right .menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    height: 75px;
}

.header-top-right .menu li{
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* --- Slider --- */
.slider .owl-nav span{
    font-size: 45px;
    color: #fff;
}

.slider .owl-nav{
    margin: 0;
}

.slider .owl-prev, .owl-next{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 100%;
    width: 90px;
    background-color: rgba(0, 0, 0, .1) !important;
    margin: 0 !important;
}

.slider .owl-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider .owl-next{
    right: 0;
}

.slider .owl-prev{
    left: 0;
}

/* --- Title-Menu --- */
.title-menu{
    text-align: center;
    padding: 40px;
    background-color: #303030;
    width: 100%;
}

.title-menu h1{
    color: #fff;
    font-size: 120px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Satisfy', cursive;
}
/* --- Item-Menu --- */
.item-menu{
    display: flex;
    margin-top: 5px;
    border: 2px solid #fff;
    height: 400px;
    margin-bottom: 20px;
}

/* --- Logo-Menu --- */
.logo-menu{
    width: 100%;
    height: 100%;
}

.logo-menu img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-right: 3px solid #fff;
}

/* --- Description-Menu --- */
.description-menu{
    background-color: #505050;
    width: 100%;
    height: 100%;
}

.name-menu{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.descrip-menu{
    height: 50%;
}

.price-menu{
    height: 20%;
}

.description-menu h1, .description-menu p{
    margin-left: 30px;
    color: #fff;
    text-align: center;
    padding-right: 20px;
}

.description-menu h1{
    font-weight: 900;   
    font-family: 'Dancing Script', cursive;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Satisfy', cursive;
    font-family: 'Zilla Slab', serif;
    font-size: 37px;
}

.description-menu p{
    margin-left: 30px;
    font-size: 27px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Satisfy', cursive;
    font-family: 'Zilla Slab', serif;
    font-weight: 100;
}

.description-menu .name-menu, .descrip-menu{
    display: flex;
}

.price-menu p{
    color: yellow;
}

/* --- Box-Text --- */
.wrap-box-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.wrap-box-text h2, h3, p{
    color: #fff;
}

.wrap-box-text h2{
    font-weight: 300;
}

.wrap-box-text .line{
    border: 3px solid #fff;
    width: 200px;
    margin: 30px 0;
}

.wrap-box-text p{
    font-size: 20px;
    font-weight: 100;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: auto;
}

