*{
    padding: 0;
    margin: 0;

}

body{
    max-width: 1600px;
    margin: auto;
    background-color: #3d3d3d;
}

.container{
    max-width: 1600px;
}

.row {
    /* width: 1600px; */
    background-color: #303030;
    /* background-color: red; */
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

li{
    list-style: none;
}

/* --- Header --- */
.header{
    width: 100%;
    height: 75px;
}

.wrap-header-top{
    height: 100%;
    width: 1600px;
    background-color: black;

}

.header-top{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-top-left{
    width: 50%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
}

.header-top-right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

}

.header-top-right .menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    height: 75px;
}

.header-top-right .menu li{
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* --- Slider --- */

.slider{
    width: 1600px;
}

.slider .owl-nav span{
    font-size: 45px;
    color: #fff;
}

.slider .owl-nav{
    margin: 0;
}

.slider .owl-prev, .owl-next{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 100%;
    width: 90px;
    background-color: rgba(0, 0, 0, .1) !important;
    margin: 0 !important;
}

.slider .owl-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider .owl-next{
    right: 0;
}

.slider .owl-prev{
    left: 0;
}

/* --- Main --- */
.logo{
    width: 100%;
    height: 470px;
    margin-top: 15px;
    background-image: url(/assets/img/Main/kidmeal.png);
    object-fit: cover;
    background-position-x: 52%;
    background-position-y: 45%;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgba(77,77,77,0.8);
    transition: all 2s ;
    z-index: 999;
    position: relative;
}

.logo::before{
    width: 100%;
    height: 100%;
    opacity: .4;
    background-color: black;
    z-index: -1;
    display: inline-block;
    position: absolute;
    top: 0;
    content: "";
}

.logo:hover::before{
    opacity: 0;
    transition: all 1s ;
}

.logo .title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo .title p{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

.logo .title h3{
    font-size: 35px;
    color: #fff;
    font-weight: 700;
    opacity: 1;

}


.logo .detail{
    width: 300px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    border: 2px solid rgba(77,77,77,0.8);
    background-color: #1f1f1f;
    margin-top: 50px;
    color: #fff;
    margin-bottom: 50px;

}

.logo .detail p{
    margin-top: 12px;
    font-size: 20px;
}
