.opacity-100{
    border: 3px solid #fff;
}

.wrap-content{
    background-color: #000;
    position: relative; 
}

.book-table-description h3{
    letter-spacing: 2px;
}

.wrap-form{
    background-color: #242424;
    height: 1000px;
}

.membership-description{
    color: #fff;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 21%;
}

.title-membership{
    width: 100%;
    height: 777px;
    background-size: cover;
    background-position-y: 60%;
    background-color: black;
}

.begin-membership{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    color: #fff;
    text-align: center;
    background-color: #242424;
}

.begin-membership-title{
    width: 21%;
}

.begin-membership-description{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    letter-spacing: 2px;
    height: 300px;
}

.basic-form{
    background-color: #242424;
    height: 586px;
}

.basic-form form 
{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
}

label 
{
    color: #cbc7c7;
}

.form-booktable{
    padding: 16px;
    border-radius: 5px;
    border: rgba(77,77,77,0.8) 1px solid;
    margin-top: 24px;
    background-color:#282828;
    color: #cbc7c7;
} 

.form-booktable::placeholder{
    color: #cbc7c7;
}

.form-booktable:focus{
    background-color:#282828;
    color: #cbc7c7;
}
  
.submit-book-table{
    background-color: #D3D3D3;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 24px 0px;
}

