@media screen and (max-width:1280px) {    
    .header-content{
        height: 86px;
    }
    .header-content h1{
        font-size: 30px;
    }
    .header-content .header-content-right a{
        font-size: 17px;
    }
    .items .title-description h3{
        font-size: 20px;
    }           
    .items .item-description{
        font-size: 13px;
        width: 90%;
    }
    .items .price-description .price{
        font-size: 24px;
    }
    /* --- Book-table --- */
    .book-table-description h3{
        font-size: 32px;
    }
    .book-table-description h4{
        font-size: 19px;
    }
    .title-book-table{
        height: 350px;
    }    
    /* --- About-us --- */
    .wrap-content-about-us .content-right-top {
        width: 100%;
        height: 60%;
        padding: 8px 60px 0 60px;
    }
    .wrap-content-about-us .content-right-top h1{
        font-size: 31px;
        font-weight: 600;
    }
    /* --- Event --- */
    .content-slider-description p{
        font-size: 16px;
    }
}

@media screen and (max-width:1024px) {    
    .footer-sticky{
        display: none;
    }
    .header-content-right{
        width: 55%;
    }
    .header-content{
        height: 65px;
    }
    .header-content h1{
        font-size: 28px;
    }
    .header-content .header-content-right a{
        font-size: 14px;
    }
    .items .description{
        margin-top: 0;
        height: 193px;
    }
    .items .title-description h3{
        font-size: 17px;
    }      
    .items .item-description{
        font-size: 14px;

    }
    .items .price-description .price{
        font-size: 20px;
    }
    .nav-link{
        font-size: 22px;
    }
    .wrap-book-table-mobile{
        display: block;
    }
     /* --- Book-table --- */
    .book-table-description h3{
        font-size: 28px;
    }
    .book-table-description h4{
        font-size: 16px;
    }
    .opacity-100 {
        border: 2px solid #fff;
        margin: 8px 0;
    }      
    textarea {
        height: 230px;
    }
    /* --- About-us --- */
    .about-us-title{
        width: 28%;
    }
    .wrap-content-about-us .content-right-top h1{
        font-size: 25px;
    }
    .wrap-content-about-us .content-right-top p{
        font-size: 19px;
    }
    .wrap-content-about-us{
        height: 971px;
    }
    /* --- Event --- */
    .content-slider-description p{
        font-size: 14px;
    }
}

@media screen and (max-width:867px) {    
    .items .item-description{
        font-size: 13px;
    }
    /* --- Book-table --- */
    .book-table-description{
        width: 30%;
    }
    .title-book-table{
        height: 300px;
    }  
    /* --- About-us --- */
    .about-us-title h3 {
        font-size: 40px;
    }
    .about-us-title h4 {
        font-size: 20px;
    }
    .about-us-title{
        width: 28%;
    }
    .wrap-content-about-us .content-right-top h1{
        font-size: 21px;
    }
    .wrap-content-about-us .content-right-top p{
        font-size: 17px;
    }
    /* --- Event --- */
    .content-slider-description p{
        font-size: 13px;
    }
}

@media screen and (max-width:767px) {  
    .header-content-left{
        width: 80%;
    }  
    .header-content h1{
        font-weight: 900;
        letter-spacing: 3px;
        font-size: 28px;
    }
    .header-content-right{
        width: 5%;
    }
    .owl-carousel .owl-item img{
        height: 300px;
    }
    .items .title-description h3{
        font-size: 24px;
    }      
    .items .item-description{
        font-size: 18px;
    }
    .items .price-description .price{
        font-size: 32px;
    }
    .header-content-right .menu {
        justify-content: end;
    }
    .header-content-right .menu li{
        display: none;
    }
    .header-content-right .menu .bar-icon{
        display: block;
    }
    .button-slider {
        font-size: 16px;
    }
    .owl-carousel .owl-nav button.owl-prev,.owl-nav button.owl-next{
        width: 10%;
    }
    .slider .owl-dots{
        display: none;
    }
    .overlay-menu li a{
        font-weight: 600;
        letter-spacing: 1px;
    }
    .nav{
        padding-top: 0;
    }
    .nav-tabs .nav-link{
        font-size: 18px;
    }
    .footer{
        height: 190px;
    }
    .wrap-middle{
        height: 60px;
    }
    .wrap-middle a{
        font-size: 14px;
    }
    /* --- Book-table --- */
    .book-table-description{
        width: 35%;
    }
    /* --- About-us --- */
    .wrap-content-about-us .content-right-top {
        padding: 8px 24px 0 24px;
    }
    .about-us-title{
        margin-top: 16px;
    }
    .about-us-title h3 {
        font-size: 32px;
    }
    .about-us-title h4 {
        font-size: 17px;
    }
    .wrap-content-about-us{
        margin-top: 16px;
    }
    /* --- Event --- */
    .wrap-content-slider h3{
        font-size: 24px;
    }
    .slider-event .owl-carousel .owl-item img{
        height: 490px;
    }
    .slider-event .owl-dots{
        display: none;
    }
    .content-slider-description p{
        font-size: 10px;
    }
    .content-slider-title h3 {
        font-size: 19px;
        margin-bottom: 0;
    }
    .content-slider-title h4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 625px) {
    .title-top h3{
        font-size: 50px;
    }
    .items .item-description{
        font-size: 15px
    }
    .items .title-description h3{
        font-size: 20px;
    }  
    .nav-tabs .nav-link{
        font-size: 27px;
    }
    .footer-top i{
        font-size: 32px;
    }
    .wrap-middle a{
        font-size: 11px;
    }
    /* --- Book-table --- */
    .book-table-description{
        width: 42%;
    }
    /* --- About-us --- */
    .wrap-content-about-us{
        height: 850px;
    }
    .about-us-title {
        width: 39%;
    }
    .about-us-title h3 {
        font-size: 27px;
    }
    .wrap-content-about-us .content-right-top h1 {
        font-size: 17px;
    }
    .wrap-content-about-us .content-right-top p {
        font-size: 14px;
    }
    /* --- Event --- */
    .content-slider-description p{
        font-size: 9px;
    }
    .wrap-content-slider h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 525px) {
    .header-content {
        height: 55px;
    }
    .header-content-left{
        width: 75%;
    }
    .header-content-right{
        width: 10%;
    }
    .header-content h1 {
        font-size: 19px;
    }
    .bar1, .bar2, .bar3 {
        width: 19px;
        height: 1px;
        margin: 10px 0;
    }
    .overlay-menu{
        padding-top: 50px;
    }
    .overlay-menu li {
        padding: 24px 16px;
    }
    .overlay-menu li a {
        font-size: 16px;
    }
    .button-slider {
        font-size: 13px;
    }
    .owl-carousel .owl-item img {
    height: 251px;
}
    .title-top h3 {
        font-size: 30px;
    }
    .title-top h4 {
        font-size: 16px;
    }
    .nav-tabs .nav-link{
        font-size: 18px;
    }
    .items .description {
        height: 167px;
    }
    .items .title-description h3{
        font-size: 16px;
    }
    .items .item-description {
        font-size: 12px;
    }
    .items .price-description .price {
        font-size: 20px;
    }
    .footer{
        height: 211px;
    }
    .footer-top i{
        font-size: 24px;
    }
    .footer-middle{
        height: 60px;
    }
    .wrap-middle{
        display: flex;
        flex-wrap: wrap;
        height: 40px;
    }
    .wrap-middle a{
        font-size: 12px;
    }
    .wrap-middle .membership{
        width: 50%;
        border-left: none;
        border-bottom:1px solid #484848;
        justify-content: right;
    }
    .wrap-middle .contact{
        width: 50%;
        border-left: none;
        border-bottom:1px solid #484848;
        justify-content: left;
    }
    .footer-bottom{
        height: 58%;
    }    
    /* --- Book-table --- */
    .book-table-description{
        width: 55%;
    }
    .title-book-table{
        height: 200px;
    }  
    textarea {
        height: 170px;
    }
    /* --- About-us --- */
    .wrap-content-about-us{
        height: 750px;
    }
    .wrap-content-about-us .content-right-top {
        padding: 8px 16px 0 16px;
    }
    .wrap-content-about-us .content-right-top h1 {
        font-size: 12px;
    } 
    .about-us-title h4 {
        font-size: 15px;
    }
    .wrap-content-about-us .content-right-top p {
        font-size: 12px;
    }      
    /* --- Event --- */
    .content-slider-description p{
        font-size: 9px;
        margin-bottom: 8px;
    } 
    .wrap-content-slider h3 {
        font-size: 16px;
    }
}